body {
	display: border-box;
    width: 1000px;
    height: 600px'';
    margin: 0 auto;
}

.main {
    padding: 5%;
    margin: 5% auto;
}

header {
    margin-top: -5%;
    text-align: center;
    font-size: 16px;
}

.forms {
    margin-left: 38%;
    width: 100%;
}
